menuconfig MODULES_FA_POS_CONTROL
        bool "fa_pos_control"
        default n
        ---help---
                Enable support for fa_pos_control

config MODULES_FA_POS_CONTROL_STACKSIZE
	int "fa_pos_control stack size"
	default 3072
	depends on MODULES_FA_POS_CONTROL
	---help---
		Stack size for the fa_pos_control work queue task.